<!DOCTYPE html>
<html>
	<head>
        <script type="text/javascript">
            document.base_url = "%(base_url)s";
        </script>
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js" type="text/javascript"></script>
        <script src="%(base_url)s/static/admin.js" type="text/javascript"></script>
        <link rel="stylesheet" href="%(base_url)s/static/admin.css" media="all" type="text/css" />
	</head>
    <body>
        <header>
            <span id="logo" class="right">
                <h1>plog</h1>
            </span>
            <h1>Shitty&trade; Admin Interface</h1>

        </header>
        <section id="notification"></section>
        <section id="list">
        <ul>
            <li class="new_post"><a href="#" id="new_b">New Post</a></h3>
                %(list)s
            </ul>
        </section>
        <section id="post">
            <section id="editor">
                <form action="%(base_url)s/api/put" method="post">
                    <input class="clearable" type="hidden" value="" name="key" id="key" />
                    <label>Title</label>
                    <input class="clearable" type="text" value="" name="title" id="title" />
                    <label>Content</label>
                    <textarea class="clearable" name="content" id="secontent"></textarea>
                    <select name="format" id="format">
                        <option value="markdown">Markdown</option>
                        <option value="plain">Plain Text</option>
                    </select>
                    <div class="button save right">Save changes</div>
                    <div class="button discard right">Discard changes</div>
                    <div class="button delete right">Delete post</div>
                </form>
            </section>
            <section id="options">

            </section>
        </section>
        <footer>

        </footer>
	</body>
</html>
