<!DOCTYPE html>
<html>
	<head>
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js" type="text/javascript"></script>
		<script src="/static/blog/admin.js" type="text/javascript"></script>
		<link rel="stylesheet" href="/static/blog/admin.css" media="all" type="text/css" />
	</head>
	<body>
		<section id="notification"></section>
		<section id="list">
			<h3><a href="#" id="new_b">New Post</a></h3>
			<h3>List of articles</h3>
			<ul>
				%(list)s
			</ul>
		</section>
		<section id="editor">
			<form action="/blog/api/put" method="post">
				<input type="hidden" value="" name="key" id="key"/>
				<input type="text" value="" name="title" id="title"/>
				<textarea name="content" id="content"></textarea>
				<select name="format" id="format">
					<option value="markdown">Markdown</option>
					<option value="plain">Plain Text</option>
				</select>
				<input type="submit" value="Update" />		
			</form>
			
		</section>
		<footer>
			<p>Hi %(nick)s &lt;%(mail)s&gt;</p>
		</footer>
	</body>
</html>
