<!DOCTYPE html>
<html>
	<head>
		<title>%(blog_name)s::(title)s</title>
		<link rel="stylesheet" href="/static/google-code-prettify/sunburst.css" type="text/css" />
		<script type="text/javascript" src="/static/google-code-prettify/prettify.js"></script>
		<link rel="stylesheet" type="text/css" media="all" href="/static/style.css" />
		<script type="text/javascript">
			function l()
			{
				var pres = document.getElementsByTagName("pre");
				var i;
				for (i = 0; i < pres.length; i++)
				{
					pres[i].className += " prettyprint";
				}
				prettyPrint();
			};
		</script>
	</head>
	<body onload="l()">
		<header>
			<p><a href="%(base_url)s">%(blog_name)s</a></p>
		</header>
		<div class="container">
